@charset "utf-8";
@font-face {
    font-family: comic-ink;
    src: url(../fonts/Comic-ink.otf);
}
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
.titulo {
    font-family: comic-ink;
    font-size: 300%;	
}
.descripcion{
    font-family: comic-ink;
    padding-top: 20px;
}
body{
    background: #263238;
    background: #000 url('../images/fondo.jpg');
    background-size: cover;
    background-attachment: fixed; 
    font-family:'Roboto', sans-serif;
}
h1{
    font-weight: 600;
}
/* Cabecera */
.header{
    text-align: center;
    background: rgba(187,105,1,1.00);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* Fin cabecera */
.container{
    width: 75%;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    z-index: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.left{
    text-align: left;
}
/* MENU */
.navbar {
    background-color: #555;
    overflow: auto;
    margin: auto;
    z-index: 3;
}

/* MENU - links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* MENU - links con mouse encima*/
.navbar a:hover {
    background-color: #000;
}

/* MENU - Activo */
.active {
    background-color: dodgerblue;
}

/* MENU Magia responsive  */

.content{
    padding: 10px;
}
/* Menu pegado */
.static {
    position: fixed;
    top: 0;
    left: 0;
}

.static + .content {
    padding-top: 0px;
}

/* Inicio de la pagína*/
header{
    width: 100%;
}

.contenedor-principal{
    margin:auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main{
    background: #fff;
    padding: 20px;
    width: 70%;
}
.about{
    background: #fff;
    padding: 26px;
    width: 100%;
}
/* Contenedor de About */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* ESTILOS PARA CARDS */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
}
.resenia{
    background: #fff;
    padding: 20px;
    width: 100%;
    font-weight: 200;
    text-indent: 2em;
    text-align: justify;
}
.img-resenia{
    float: right;
    width: 50%;
    height: auto;
    padding: 15px;
}
.titulo-2{
    border-bottom: dotted grey thin;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.main .articulo{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main .articulo .portada{
    margin-bottom: 20px;
    width: 40%;
    /*    padding: 20px;*/

}
/*contenido*/
.main .articulo .contenido{
    width: 60%;
    padding: 20px;
}
.fa-circle{
    color:#22f672;
}
.main .articulo .contenido .titulo-portada{
    margin-bottom: 0px;
}
.main .articulo .contenido .titulo-secundario{
    margin-bottom: 16px;
}
.main .articulo .contenido .generos{
    margin-bottom: 16px;
}
.main .articulo .contenido .texto h3{
    margin-bottom: 12px;
}
/*fin contenido*/
.main .articulo .portada img{
    width: 100%;
    vertical-align: top;
}

.main .articulo h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}
.main .articulo p{
    margin-bottom: 20px;
    font-size :15px;
    line-height: 22px;
}

/*articulos*/
.main .articulos{
    width: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main .articulos article{
    width: 30%;
}
.main .articulos article h2{
    font-size: 16px;
    text-align: center;
}
.main .articulos article img{
    width: 100%;
    vertical-align: top;
    opacity: 0.7;

}
.main .articulos article img{
    opacity: 1;
}

.divisor{
    margin-bottom: 20px;
    border-color: grey;
}
/*fin de articulos*/
aside {
    width: 30%;
    /*background: #000;*/
}
aside .busqueda-comics{
    margin-top: 30px;
    background: #000;
    padding: 22px;
    background: #000;

}
aside .busqueda-comics h2{
    margin-top: 10px;
}
aside .busqueda form{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}
aside .busqueda input{
    width: 90%;
}
aside .busqueda button{
    background: none;
    border: none;
}
aside .busqueda i{
    color:#fff;
    font-size: 16px;
}

aside h2{
    color:#fff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
aside .contenedor-comics{
    padding: 22px;
    background: #000;

}
aside h2{
    color:#fff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
aside .aside-articulo{
}
aside .aside-articulo .novedad{
    margin-bottom: 0;
}
aside .aside-articulo .novedad img{
    width: 100%;
    vertical-align: top;
    opacity: 0.7;
}
aside .aside-articulo .novedad img:hover{
    opacity: 1;
}
/*Inicio de footer*/
footer{
    width: 100%;
    padding: 20px;
    background: #2f2f2f;
    color: #fff;
}
footer .autores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
}
footer p{
    text-align: center;
}
/*Fin de footer*/
/*pagina contacto*/
.contacto{
    background: #fff;
    padding: 20px;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/*ABOUT*/
.contenedor-cartas{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 15px;
    text-align: center;
    padding-bottom: 16px;

}
.about .card .white{
    color:#000;
}
.about .card .redes a{
    transition: all 0.25s ease;   

}
.about .card .redes a:hover{
    color:steelblue;
}
.about .card .titulo-card{
    font-size: 24px;
    margin-top: 15px;
}
.about .card .parrafo-titulo {
    color: grey;
    font-size: 15px;
}
.about .card .uni{
    font-family: "Roboto";
    font-weight: 300;
}
.about .titulo-about{
    text-align: center;
    margin: 20px 0;
    font-size: 34px;
}
.about .martin{
    order:2;
}
.about .matt{
    order:1;
}
.about .matias{
    order:3;
}
.about .btn-contactar {
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 5px;
}
.btn-contactar:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
/*fin about*/
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.contenedor {
    width: 100%;
    background: rgba(255,255,255,1.00);
}
/*fin pagina contacto*/
/*Fin inicio de pagína*/
/* FORMULARIO */
.contacto .titulo{
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-3{
    margin-bottom:24px;
    margin-top:24px;
}
label {
    display:block;
    margin-top:20px;
    text-align: left;
    letter-spacing:1px;
    font-size: 16px;
}
.formulario {
    color: darkslategray;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 5px;

}
form {
    margin:0 auto;
    width:70%;
}
.formulario .titulo{
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#000;
}
input, textarea {
    width:100%;
    height:27px;
    background:#FFF;
    border:2px solid rgba(153, 153, 255,0.5);
    border-radius: 5px;
    padding:20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    color:darkblue;
    resize: vertical;

}
.contacto .btn{
    margin: auto;
    display: block;
    padding: 0 16px ;
    color:white;
    font-size: 16px;
    border: none;
    background: #f6222b;
}
.contacto .btn:hover{
    background: #9f1218;    
    color:#fff;
}
.resenia{
    padding:34px;
}

textarea {
    height:150px;
    max-height: 400px;
    min-height: 150px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.col-25{
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 80%;
    margin-top: 6px;
}



#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    margin-bottom: 20px;
    background-color: dodgerblue;
    color:white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-left: 35%;
    float:none;
}
.error{
    border:medium solid red;
}

/* Slides */
.slides_contenedor .titulo{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.rslides {
    margin: 0 auto 40px;
}
.centrar{
    display: flex;
    justify-content: center;
}
.slides_container {
    margin-bottom: 50px;
    position: relative;
    float: left;
    width: auto;
}
.slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slides li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.slides img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.slides .texto {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    text-align: center;
}

.slides_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 57%;
    left: 0;
    opacity: 0.7;
    z-index: 2;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url(../images/themes.gif)no-repeat left top;
    margin-top: -150px;
}

.slides_nav:active {
    opacity: 1.0;
}

.slides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

#lista a {
    display: inline-block;
}

#lista img {
    float: left;
}

#lista .rslides_here a {
    background: transparent;
    box-shadow: 0 0 0 2px #666;
}

#lista a {
    padding: 0;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}

@media screen and (min-width: 767px) {
    .static {
        position: fixed;
        top: 0;
        width: 100%;
    }

}
@media screen and (max-width: 360px) {
    .navbar a {
        float: none;
        display: block;
    }
    .navbar{
        margin: auto;
    }
    .static{
        width: 100%;
    }
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
    footer .autores{
        flex-direction: column;
        align-items: center;

    }
    footer .autores .autor{
        margin-bottom: 10px;
        margin-top:10px;
    }
    .main .articulo .contenido{ 
        padding:0px;
    }
    .main .articulo .contenido p{ 
        text-align: left;
    }
    .main .articulos{
        padding: 10px;
    }
    .main .articulos article{
        width: 100%;
        margin: 20px 0;
    }
    .img-resenia{
        width: 100%;
    }

}

@media (max-width: 575.98px) {
    .main .articulos{
        flex-wrap: wrap;
    }
    /*    .main .articulos article{
            width: 50%;
            margin: 0 16px;
        }*/

    .callbacks_nav {
        top: 47%;
    }
    .static{
        width: 100%;
    }

    .main .articulo .contenido{
        width: 100%;
    }
    .main .articulo .portada {
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    .main .articulo .contenido .estado p{ 
        text-align: left;
    }
    footer .autores{
        flex-direction: column;
        align-items: center;

    }
    footer .autores .autor{
        margin-bottom: 10px;
        margin-top:10px;
    }

    input{
        width: 100%;
        margin-top: 0;
    }

    textArea{
        width: 100%;
    }

    .col-25,.col-75{
        width: 100%;
        margin-top: 0;
    }
    .img-resenia{
        width: 100%;
    }
    .about .contenedor-cartas .card{
        width: 100%;
    }
}


@media (max-width: 767.98px) {
    .main {
        width: 100%;
        padding:0;
    }
    .main p{
        text-align: center;
    }
    aside{
        width: 100%;
        flex-direction: row;
    }
    .main .articulo .portada {
        padding: 0px;
        width: 100%;
    }
    .main .articulo .portada {
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    .main .articulo .contenido{ 
        padding:0px;
        width: 100%;
    }

    .main .articulo .contenido p{ 
        text-align: left;
    }
    .main .articulo .contenido .titulo-portada{
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .about .contenedor-cartas .card{
        width: 50%;
    }
}
@media (max-width:578px){
    aside{
        width: 100%;
        height: auto;
    }
    .main{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .about .contenedor-cartas{
        flex-wrap: wrap;
        padding: 0px;
        flex-direction: row;
    }
    .about .contenedor-cartas .card{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

}
@media (max-width: 991.98px) {
    .main .articulo .portada{
        padding: 0;
    }

}

@media (max-width: 1199.98px) {}
